<div class="gridster">
  <ul>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lsof" data-view="Number" data-title="LSOF" data-moreinfo="" data-prefix=""></div>
    </li>

    <%# <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ram" data-view="Meter" data-title="RAM" data-height="200" data-width="200" data-min="0" data-max="16" data-more-info="MB"></div>
    </li> %>

  </ul>
</div>